* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body {
  overflow-x: hidden;
}

.container {
  display: flex;
}
.container .left {
  width: 70%;
}
.container .left .bottom {
  width: 100%;
  overflow: hidden;
  display: flex;
  height: 35vh;
}
.container .left .bottom .img-container {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.container .left .bottom .img-container img {
  width: 150%;
}
.container .left .bottom .content {
  width: 70%;
  overflow: hidden;
  display: flex;
}
.container .left .bottom .content .philosophy {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 1em;
  padding-right: 2em;
}
.container .left .bottom .content .philosophy .title {
  display: flex;
  align-items: center;
  position: relative;
}
.container .left .bottom .content .philosophy .title .square {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: yellow;
  left: -1em;
}
.container .left .bottom .content .philosophy .title h1 {
  margin-left: 1em;
}
.container .left .bottom .content .philosophy p {
  margin-left: 3em;
  font-size: 12px;
  text-align: justify;
}
.container .left .bottom .content .philosophy a {
  justify-self: flex-end;
  display: flex;
  text-decoration: none;
  color: black;
  margin-top: 1em;
  margin-left: 2em;
}
.container .left .bottom .content .philosophy a img {
  width: 5%;
  margin-left: 1em;
}
.container .left .bottom .content .img-container {
  width: 50%;
}
.container .left .bottom .content .img-container img {
  width: 130%;
}
.container .left .top {
  background-color: black;
  color: white;
  padding: 2em 3em;
  height: 65vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
.container .left .top nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.container .left .top nav ul {
  list-style: none;
  display: flex;
}
.container .left .top nav ul li + li {
  margin-left: 1em;
}
.container .left .top nav .logo {
  display: flex;
}
.container .left .top nav .logo h1 + h1 {
  color: rgb(233, 233, 0);
  text-transform: uppercase;
}
.container .left .top .title {
  position: relative;
  margin-top: 2em;
}
.container .left .top .title h1 {
  font-size: 6em;
  position: absolute;
  width: 100%;
  font-weight: 500;
}
.container .left .top .title h1:first-child {
  color: yellow;
}
.container .left .top .title h1:nth-child(2) {
  top: 1em;
  left: 2em;
}
.container .left .top .title h1:nth-child(3) {
  left: 6em;
  top: 2em;
}
.container .left .top button {
  position: absolute;
  bottom: 2em;
  padding: 0.5em 1em;
}
.container .right {
  width: 30%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container .right .img-container {
  width: 100%;
  height: 75vh;
  overflow: hidden;
}
.container .right .img-container img {
  width: 100%;
}
.container .right .cards {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.container .right .cards .card {
  width: 50%;
  height: 25vh;
  padding: 1em;
  position: relative;
}
.container .right .cards .card h1 {
  font-weight: 500;
  font-size: 4em;
}
.container .right .cards .card p {
  font-size: 12px;
}
.container .right .cards .card a {
  justify-self: flex-end;
  display: flex;
  text-decoration: none;
  color: black;
  position: absolute;
  bottom: 1em;
}
.container .right .cards .card a img {
  width: 10%;
  margin-left: 0.5em;
}
.container .right .cards .card + .card {
  background-color: yellow;
}/*# sourceMappingURL=style.css.map */